.data
**/target/*
*.bak
.idea
*.iml
atlassian-ide-plugin.xml
**/deploy/*
**/WEB-INF/temp/*
deploy/
target/
param.txt
*.log
.~lock*
.project
.settings
.classpath
dist/
*.zip
*.jar
*.tgz
*.gz
.mvn
*~
node_modules
**/bower_components/*
